<html>
<head></head>
<body>
  <h1>Add an album</h1>
  <form action="/albums" method="POST">
    <label>Album title: </label>
    <input type="text" name="title" /><br>
    <label>Release year: </label>
    <input type="int" name="release_year" /><br>
    <label>Artist ID: </label>
    <input type="int" name="artist_id" />
</body>
</html>